// board01
section.board01(data-menu='true')
    .articleWrap
        ul
            li 
                img
            li
                img
            li
                img
            li
                img
            li 
                img
            li
                img
            li
                img
            li
                img
            li 
                img
            li
                img
// board01 end