// header03
header.header_03
	.headerWrap
		.gallery
			ul#gallery_01_slider.slider
				li(data-thumb='img/gallery/01.png')
					.img
						img(src='img/gallery/01.png', data-width='1200', data-height='850')
				li(data-thumb='img/gallery/01.png')
					.img
						img(src='img/gallery/01.png', data-width='1200', data-height='850')
				li(data-thumb='img/gallery/01.png')
					.img
						img(src='img/gallery/01.png', data-width='1200', data-height='850')
		.billboard
			h1 Juksy 10+1週年
			h3 粉絲回饋活動
			p 搶先預購文案，分享免費送文案搶先預購文案，分享免費送文案搶先預購文案，分享免費送文案搶先預購文案，分享免費送文案搶先預購文案，分享免費送文案搶先預購文案，分享免費送文案搶先預購文案，分享免費送文案
			.countdown
				.bloc-time.min(data-init-value="60")
					span.count-title Minutes
					.figure.min.min-1
						span.top 0
						span.top-back
							span 0
						span.bottom 0
						span.bottom-back
							span 0
					.figure.min.min-2
						span.top 0
						span.top-back
							span 0
						span.bottom 0
						span.bottom-back
							span 0
				.bloc-time.sec(data-init-value="0")
					span.count-title Seconds
					.figure.sec.sec-1
						span.top 0
						span.top-back
							span 0
						span.bottom 0
						span.bottom-back
							span 0
					.figure.sec.sec-2
						span.top 0
						span.top-back
							span 0
						span.bottom 0
						span.bottom-back
							span 0
			button.primary 立即預約
// header03 end